footer {
    width: 100%;
}


#disconnected-overlay {
    background: rgb(20, 1, 44);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
}

nav.navigation {
    ul li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0.5em 2em;
        a {
            float: left;
        }
    }
}

.delete-button {
    background: red;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}


.item_list {
    caption {
        font-size: 2rem;
    }
    padding-left: 0.5em;
    input[type="checkbox"] {
        transform:scale(1.5, 1.5);
    }

    td.check {
        padding: 0 1em;
    }

    .name {
        width: 80%;
        a {
            color: #606c76
        }
    }


    .important {
        background: #ffdddd;
        font-weight: bold;
    }

    td.delete {
        padding: 0 1rem;
    }
}

.item_list.got {
    background-color: bisque;
    padding: 1em auto;
}

.add-item-form {
    button, .field.add-item {
        float: left;
    }

    .field.add-item {
        width: 50%;
        margin: 0 1rem; 
        input {
            // Avoid zooming in on iPhone Safari
            font-size: 16px; 
        }
    }

    button.clear {
        width: 2rem;
        padding: 0;
    }
}