footer {
    width: 100%;
}

nav.navigation {
    ul li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0.5em 2em;
        a {
            float: left;
        }
    }
}

h1 {
    font-size: 2rem;
    text-align: center;
}


.item_list {
    caption {
        font-size: 2rem;
    }
    padding-left: 0.5em;
    input[type="checkbox"] {
        transform:scale(1.5, 1.5);
    }

    td.check {
        padding: 0 1em;
    }

    .name {
        width: 80%;
    }

    tr.important {
        background: #ffdddd;
        font-weight: bold;
    }
}