
<h1><%= @list.name %></h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, ShoppingWeb.ListLive.FormComponent,
    id: @list.id,
    title: @page_title,
    action: @live_action,
    list: @list,
    return_to: Routes.list_show_path(@socket, :show, @list) %>
<% end %>
